///* ========================================================================
//   #BREAKPOINTS
//   ======================================================================== */

$mq-breakpoints: (
    mobile:  360px,
    tablet:  700px,
    tablet-landscape:  830px,
    desktop: 1000px,
    wide:    1244px
);