///* ========================================================================
//   #COLORS
//   ======================================================================== */

$color-green: #00ad00;
$color-grey: #8ab2cb;
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #EF5417;
$color-red: #C80010;
$color-primary: #254F9D;
$color-secondary:#C1590C;
$color-gray: #525354;
$color-forms: #949494;