include ../includes/config
include ../includes/helpers
.c-section
    .c-choose
        .o-wrapper.o-wrapper--small
            h2.c-choose__title Why Choose InsureOne
            ul.c-choose__ul
                li.c-choose__li
                    img(src='images/components/choose/best.svg', alt='', width='110', height='110')
                    h2.c-choose__subtitle Best in Class Service
                    p.c-choose__p We provide a personalized experience you won't find anywhere else.
                li.c-choose__li
                    img(src='images/components/choose/customized.svg', alt='', width='110', height='110')
                    h2.c-choose__subtitle Customized Insurance Packages
                    p.c-choose__p We meet your needs with tailored packages at a competitive rate.
                li.c-choose__li
                    img(src='images/components/choose/phone.svg', alt='', width='110', height='110')
                    h2.c-choose__subtitle Convenient #[br] Options
                    p.c-choose__p We are available online or by phone when you need us.