include ../includes/config
include ../includes/helpers
.c-error
    .c-error__container.container
        .c-error__content
            h1.c-error__title 
                span Oops!
            p.c-error__text Please return to the quote to refill your details,thanks!
            a.c-error-button.button(href='[PWDSITE]') Return to the quote
