include ../includes/config
include ../includes/helpers
.c-section
    .c-choose
        .o-wrapper.o-wrapper--small
            h2.c-choose__title  Por qué elegir InsureOne
            ul.c-choose__ul
                li.c-choose__li
                    img(src='images/components/choose/best.svg', alt='', width='110', height='110')
                    h2.c-choose__subtitle Mejor servicio de su clase 
                    p.c-choose__p Ofrecemos una experiencia personalizada que no encontrará en ningún otro lugar. 
                li.c-choose__li
                    img(src='images/components/choose/customized.svg', alt='', width='110', height='110')
                    h2.c-choose__subtitle Paquetes personalizados de seguros 
                    p.c-choose__p Satisfacemos sus necesidades con paquetes a medida al mejor precio.
                li.c-choose__li
                    img(src='images/components/choose/phone.svg', alt='', width='110', height='110')
                    h2.c-choose__subtitle Opciones #[br] convenientes
                    p.c-choose__p Estamos disponibles online o por teléfono cuando lo necesite.