include ../includes/config
include ../includes/helpers
mixin topCompaniesItem(img, alt, text)
    .c-top-companies__item
        .c-top-companies__image
            img(src='images/components/companies/'+img+'.svg', alt=alt, aria-hidden='true', width=44, height=44, loading='lazy')
        span.c-top-companies__title=text

section.c-section.c-companies
    .o-wrapper.o-wrapper--small
        h2.c-section__title Hacemos las compras por usted 
        .c-section__content
            .s-cms-content
                p Colaboramos con las principales aseguradoras nacionales y regionales para ayudarle a obtener una cobertura de seguros de calidad. Comparamos cotizaciones de diferentes compañías para asegurarnos de que obtiene la mejor cobertura y las mejores tarifas.     
                p Estos son algunos de nuestros socios: 
            .c-top-companies
                .c-top-companies__list
                    +topCompaniesItem('logo-progressive','', 'Progressive')
                    +topCompaniesItem('logo-safeco','', 'Safeco')
                    +topCompaniesItem('logo-bristol-west','', 'Bristol West')
                    +topCompaniesItem('logo-preferred-mutual','', 'Preferred Mutual')
                    +topCompaniesItem('logo-tfc','', 'The Philadephia Contributionship')
