include ../includes/config
include ../includes/helpers
footer.c-footer
    .c-footer__wrapper.o-wrapper.o-wrapper--large
        p.c-footer__legal © #[span#footerYear 2024] InsureOne Insurance Services America, LLC. #[br] Lista de Números de Entidad/Licencia por Estado Localizada en la Página de #[a(href='https://www.insureone.com/affiliate-disclosure/', target='_blank' rel='noopener') Divulgación de Afiliados.]
        .c-footer__links            
            a(href='https://www.insureone.com/terms-of-use/' target='_blank' rel='noopener') Términos de Uso
            a(href='https://www.insureone.com/privacy-policy/' target='_blank' rel='noopener') Política de Privacidad 
            a(href='https://www.insureone.com/e-sign-disclaimer/' target='_blank' rel='noopener') Firma electrónica
            //-a(href=brand.externalMarketingPartners target='_blank' rel='noopener') External Marketing Partners