include ../includes/config
title Great Rates for All Drivers | Added Benefits
meta(charset='utf-8')
meta(name='robots' content='noindex,nofollow')
meta(name='description' content='{page-description}')
meta(name='viewport' content='width=device-width, initial-scale=1')
include ../includes/favicon
link(rel='preload', as='font', href='fonts/OpenSans-Regular.woff2', type='font/woff2', crossorigin)
link(rel='preload', as='font', href='fonts/OpenSans-SemiBold.woff2', type='font/woff2', crossorigin)
link(rel='preload', as='font', href='fonts/OpenSans-Bold.woff2', type='font/woff2', crossorigin)
link(rel='dns-prefetch' href='http://www.googleadservices.com')
link(href='http://www.googleadservices.com' rel='preconnect' crossorigin)
link(rel='stylesheet' media='screen' href='css/main.css')