include ../includes/config
include ../includes/helpers
.c-thanks
    .o-wrapper.c-thanks__wrapper
        .c-thanks__container.container
            .c-thanks__image 
                img(src="images/components/thanks/thanks.webp", alt="") 
            .c-thanks__content
                h1.c-thanks__h1 ¡Una cobertura de calidad está a pocos pasos! 
                .c-thanks__subtitle Estos son los pasos a seguir: 
                ul.c-thanks__ul
                    li
                        span  1.
                        | Un agente se pondrá en contacto con usted en breve para validar su información. 
                    li
                        span  2.
                        | Un agente se pondrá en contacto con usted en breve para validar su información. 
                    li 
                        span  3.
                        | Usted elegirá el plan y la cobertura que mejor se adapte a sus necesidades. ¡Así de fácil! 
        p.c-thanks__p Usted elegirá el plan y la cobertura que mejor se adapte a sus necesidades. ¡Así de fácil! 
        .c-thanks__rrss
            p Síganos en: 
            a(href="https://www.instagram.com/insure.one/", target='_blank').instagram
                img(src="images/components/thanks/icon-ig.svg", alt="") 
            a(href="https://www.facebook.com/InsureOne/", target='_blank').facebook
                img(src="images/components/thanks/icon-fb.svg", alt="") 
            a(href="https://www.youtube.com/user/InsureOneOfficial", target='_blank').youtube  
                img(src="images/components/thanks/icon-yt.svg", alt="") 